/*

---TYPOGRAPHY:

- font-sizes:
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font-weights: 
default: 400


---COLORS:
default: #e67e22
#cf711f
- GREYS: 
default: #555
#888
#767676  --> this is the least grey can be used over #fff
#333
#ddd
#6f6f6f --> this is the least grey can be used over #fdf2e9
- SHADES:
#f8d8bd
#fae5d3
#45260a

- TINTS:
#fae5d3
#fdf2e9

SHADOWS: 

box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.75);   

border: 
small: 9px
medium: 11px

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.50);
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}

/* ******************** */
/* GENERAL COMPONENTS */
/* ******************** */

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    letter-spacing: -0.5px;
    line-height: 1.05;
    color: #333;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    color: #cf711f;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
    line-height: 1.2;
    color: #333;
}

.heading-tertiary {
    font-size: 3rem;
    color: #333;
    margin-bottom: 3.2rem;
    line-height: 1.2;
}

.btn-form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem !important;
}

.btn-form:hover {
    background-color: #fff;
    color: #555;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 9px;
    /* for btn */
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: #fff;
    color: #555;
}

.btn-outline:hover,
.btn-outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}


.delivered-meals {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fdf2e9;
}

.delivered-imgs :last-child {
    margin: 0;
}

.delivered-txt {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-txt span {
    color: #cf711f;
    font-weight: 700;
}

/* ******************** */
/* REUSABLE CLASSES*/
/* ******************** */

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid-center-v {
    align-items: center;
}

.grid-gap-col {
    column-gap: 6.4rem;
}

.grid-column2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-column3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-column4 {
    grid-template-columns: repeat(4, 1fr);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: #e67e22;
    margin-right: 1.6rem;
}

/* ******************** */
/* HELPER/SETTING CLASSES*/
/* ******************** */

strong {
    font-weight: 600;
}

.right-margin-sm {
    margin-right: 1.6rem !important;
}

.bottom-margin-md {
    margin-bottom: 4.8rem !important;
}

.center-text {
    text-align: center;
}